@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#f4f4f5;
  margin: 0;
}

.balance-container {
  width: 90%;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}

.transaction-container {
  display: flex;
  background: #e4e4e7;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
}

.balance {
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
}

.income-card {
  background: #fff;
  margin: 0 12px;
  border-radius: 8px;
  box-shadow: -2px 3px 10px rgba(18, 37, 26, 0.16);
}

.income-accent {
  background-color: rgb(230, 245, 236);
  padding: 16px;
  border-radius: 0 0 8px 8px;
  margin-top: 12px;
}

.expenses-card {
  background: #fff;
  margin: 8px;
  border-radius: 8px;
  box-shadow: -2px 3px 10px rgba(18, 37, 26, 0.16);
}

.expenses-accent {
  background-color: rgb(245, 230, 230);
  padding: 16px;
  border-radius: 0 0 8px 8px;
  margin-top: 12px;
}

header {
  display: flex;
  justify-content: space-between;
}

.close {
  height: 20px;
  color:rgb(18, 37, 26);
  margin-left: auto;
}

.close:hover {
  border-radius: 18px;
  background-color: rgb(241, 241, 241);
}

h1 {
  display: flex;
  align-items: center;
}

h1 > svg {
  height: 36px;
  margin-right: 6px;
  color:rgb(3, 150, 64)
}

h3 {
  margin: 0 12px;
}

.balance-container > h3 {
  margin: 0;
}

h4 {
  margin: 12px 0 4px 12px;
  font-weight: 700px
}

.form-container h4 {
  margin: 0 0 8px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 2px;
  font-weight: 600;
}

input {
  padding: 10px 8px;
  margin-bottom: 12px;
  background-color: rgb(238, 238, 238);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.income-total {
  margin: 0 0 12px 12px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.26rem;
  color:rgb(0, 143, 59); 
}

.expenses-total {
  margin: 0 0 12px 12px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.26rem;
  color:rgb(179, 6, 6); 
}

.income-button {
  background-color: rgb(0, 163, 68);
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: #fff;
}

#add-income-btn {
  margin: 4px 0 0 auto;
  width: 80px;
}

.income-button:hover {
  background-color:rgb(1, 146, 61);
}

.expenses-button {
  background-color: rgb(187, 28, 28);
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: #fff;
}

.expenses-button:hover {
  background-color:rgb(161, 10, 10);
}

.hidden {
  display: none !important; 
}

.form-container {
  position: absolute;
  width: 300px;
  border-radius: 8px;
  box-shadow: -2px 3px 10px rgba(18, 37, 26, 0.3);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  margin: 4px auto;
}

button > svg {
  height: 18px;
  color:#fff;
  margin-right: 4px;
}

section {
  width: 100%;
  max-width: 600px;
}

.transaction-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
  padding: 0 12px;
}

.transaction {
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: -2px 3px 10px rgba(18, 37, 26, 0.16);
  padding: 8px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
}

.transaction > svg {
  height: 28px;
  color: rgb(18, 37, 26);
  margin: 4px;
  padding: 4px;
}

.transaction > svg:hover { 
  border-radius: 18px;
  background-color: rgb(241, 241, 241);
}

